<%= render 'cat', cat: @cat, action: :show %>

  <table>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
    <% @cat_rental_requests.each do |request| %>
    <tr>
      <td><%= request.start_date %></td>
      <td><%= request.end_date %></td>
    </tr>
    <% end %>
  </table>
