<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]" value="">

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]" value="">

  <input type="submit" value="Create User">

</form>

<!-- <form class="" action="index.html" method="post">
  <input type="text" name="authenticity_token" value=" <%= form_authenticity_token %>">
</form>

<h1><%= form_authenticity_token %></h1> -->
